<!DOCTYPE html>
<html>
  <head>
    <title>Metagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Metagram" />
    <meta property='og:image' content="<%= image_url('metagram_preview.png') %>"/>
    <meta property="og:description"
      content="Metagram, a cloned website of social media Instagram using Ruby on Rails, JavaScript with React and Redux, and PostgreSQL."
    />
    <meta property="og:url"
      content="https://meta-gram.herokuapp.com/"
    />

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
          "fullname": "<%= current_user.fullname %>",
          "photoUrl": "<%= current_user.photo_url %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
